.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  padding: 16px;
  width: calc(25% - 8px);
  height: 350px;
}

.card img {
  display: block;
  height: 96px;
  margin: 96px;
}

.card h2 {
  margin-top: 8px;
  text-align: center;
}
